.ToggleSwitch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.ToggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  transition: 0.4s;
  border-radius: 25px;
}

.Slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .Slider {
  background-color: green;  /* Green when active */
}

input:checked + .Slider:before {
  transform: translateX(24px);  /* Slides to the right */
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent */
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.Overlay.open {
  visibility: visible;
  opacity: 1;
}

.FilterMenu {
  background-color: rgb(19, 19, 19);
  color: white;
  height: 100%;
  width: 90%;

  position: fixed;
  left: -100%;
  transition: left 0.3s ease;
  overflow-y: auto;
  z-index: 10; 
}

.FilterMenu::-webkit-scrollbar {
  display: none;
}

.FilterMenu.open {
  left: 0;
}

.FilterContainer {
  position: relative;
  top: 15px;
  left: 10px;
  background-color: rgb(19, 19, 19);
  width: 90%;
  min-height: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  /* flex-grow: 1;  */
}

.FilterOptionsContainer {
  width: 90%;
  max-height: 90%;  /* Prevents it from exceeding FilterContainer */
  flex-grow: 1;  /* Expands to fill available space */
  overflow-y: auto;  /* Allows scrolling if content exceeds */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.MobileFilterButtonFilters {
  position: absolute;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  align-items: flex-start;
  left: 20px;
  top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* STYLING FOR DESKTOP */
@media (min-width: 768px) {
  .FilterMenu {
    background-color: rgb(19, 19, 19);
    color: white;
    height: 100%;
    width: 50%;
  
    position: fixed;
    left: -100%;
    transition: left 0.3s ease;
    overflow-y: auto;
    z-index: 10; 
  }

  .CourseList {
    /* margin-left: 300px;  */
  }
}

/* STYLING FOR MOBILE */
@media (max-width: 768px) {
  
  .FilterMenu {
    /* position: fixed; */
  }

  .FilterContainer {
    /* display: flex;
    background-color: rgb(19, 19, 19);
    min-width: 200px;
    height: auto;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    border: 0; */
  }
}

.SortingContainer {
  width: 100%;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.SortOption {
  padding-top: 5px;
  padding-bottom: 5px;
}

.TimeFilterContainer,.InstructorFilterContainer {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ToggleFilterContainer {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.SearchFilterContainer, .TagFilterContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.SearchBox {
  width: 90%;
}

.SearchBoxInput {
  color: white;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 40px;
  font-size: 14px;
  border-radius: 6px;
  text-align: center;
  background-color: black;
  padding: 0;
  border: 0;
  outline: none;
}

.SearchBoxInput:focus {
  border: 0;
}

.DropdownContainer {
  color: white;
  background-color: #000000;
  border-radius: 12px;
  max-height: 175px;
  overflow-y: auto;
  width: 90%;
  margin-top: 5px;
}

.DropdownContainer::-webkit-scrollbar {
  display: none;
}

.DropdownList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.DropdownItem {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  
}

.DropdownItem:hover {
  background-color: rgb(39, 39, 39);
}

.DropdownItem:active {
  background-color: #e0e0e0;
}

.ActiveFilters {
  margin-top: 10px;
  width: 170px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.ActiveFilterTag {
  background-color: #000000;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}

.ActiveFilterTag:hover {
  background-color: #ff4d4d; /* Red background when hovered */
}

.ActiveFilters {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.ActiveFilterTag {
  background-color: #000000;
  color: white;
  padding: 15px 30px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}

.ActiveFilterTag:hover {
  background-color: green; 
}

.ActiveFilterTag.active {
  background-color: green;
}

.ActiveFilterTag.active:hover {
  background-color: #ff4d4d;
}

.ClearFilters {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  align-items: flex-start;
  left: 20px;
  top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 12px;
  border: 1px solid white;
}

.ClearFilters:hover {
  background-color: red; 
}