body {
  margin: 0;
  height: 100%;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f4f6f8; /* Soft background color */
  color: #333; /* Dark gray text for readability */  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
